* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}